---
import ModeraterLayout from "../../layouts/ModeraterLayout.astro";
---

<ModeraterLayout title="Moderater home (Print shop)">
    <h1 class="text-3xl font-semibold text-slate-900">Moderater home</h1>
    <p class="mt-2 text-slate-600">Mod page</p>
</ModeraterLayout>